if [[ ! -e .data ]]; then
  mkdir -p .data
fi

if [[ ! -e .local/bin ]]; then
  mkdir -p .local/.bin
fi

PATH_add .local/bin

export GOBIN=$(expand_path .local/bin)

source_env_if_exists ".envrc.local"
