package pages

import (
	"github.com/brian-dlee/lab/pkg/templates"
	"github.com/brian-dlee/lab/templates/components"
	"github.com/brian-dlee/lab/templates/layouts"
)

// Error renders the error page
templ Error(pctx templates.PageContext) {
	@layouts.Main(pctx) {
		@components.Messages(pctx)
		<div class="content">
			<p>
				An error has occurred. Please try again or contact us if the problem persists.
			</p>
		</div>
	}
}
